* {
    color: white;
    transition: 0.25s ease;
}

body {
    background-color: rgb(0, 0, 0);
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.navbar {
    background-color: rgb(255, 0, 0);
    padding: 1.5rem;
    text-align: center;
    border-radius: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

input[type="text"], input[type="email"], textarea, input[type="button"], input[type="tel"], button {

    background-color: rgb(167, 144, 108);
    color: black;
    border: none;
    padding: 1rem;
    border-radius: 25px;
}

input[type="text"]::placeholder, input[type="email"]::placeholder, textarea::placeholder, input[type="button"]::placeholder, input[type="tel"]::placeholder{
    color: black;
}

.column {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
}

input[type="button"]:hover, button:hover, button[class=dropbttn]:hover{
    background-color: rgb(267, 244, 208);
    cursor: pointer;
}

a:hover{
    background-color: rgb(184, 103, 122);
    cursor: pointer;
    border-radius: 25px;
}

.dropdownbuttn {
    background-color: #04AA6D;
    color: rgb(83, 3, 3);
    font-size: 16px;
    border: none;
  }
  

  .dropdown {
    position: relative;
    display: inline-block;
  }
  

  .dropdown-content {
    border-radius: 25px;
    gap: 1rem;
    display: none;
    position: absolute;
    background-color: #54037a;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  

  .dropdown-content a:hover {background-color: rgb(253, 236, 2)ddd; gap: 1rem;}
  

  .dropdown:hover .dropdown-content {
    display: block; 
    gap: 1rem;
}
  

  .dropdown:hover .dropdownbttn {background-color: #ff8800;}